body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 50px 50px;
    /* background-color: rgb(41, 36, 36); */
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    background-color:wheat;
    /* border: 1px solid indianred; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.86);
}
.card img{
   width:100%;
   height: 300px;
}
.fa-star{
    color: rgb(255, 0, 17);
}
body>h1{
    text-align: center;
    font-size: 3em;
    color: brown;
}